In [3]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [10]:
#reverse a tuple
x=(5,6,7,8)
y=x[::-1]
y

(8, 7, 6, 5)

In [2]:
t1=(1,2,3,4,5)
print(t1[0:3])

(1, 2, 3)

In [5]:
fname=("Abdullah","Raj","Ali")
lname=("Arun","Ron","John")
x=zip(fname,lname)

for fname,lname in x:
    print(fname,lname)

Abdullah Arun
Raj Bala
Ali babu

In [10]:
#swapping
x=20
y=9
(x,y)=(y,x)
print(x)
print(y)

9
20

In [12]:
#Counting the elements in tuple
t1=(1,2,3,4,5)
count=0
for i in t1:
    count=count+i
print(count)

15